# Hands-on 1: Composing and Running basic SQL queries


- Task 0: Drop the table INSTRUCTOR from the database in case it already exists, so that we start from a clean state.
(Hint: Ignore the undefined error if this table does not already exist in your database)

- Task 1: Create the INSTRUCTOR table as defined above. Have the ins_id be the primary key, and ensure the lastname and firstname are not null.
(Hint: ins_id is of type INTEGER, country of type CHAR(2), and rest of the fields VARCHAR)

- Task 2A: Insert one row into the INSTRUCTOR table for the the instructor Rav Ahuja.
(Hint: values for the character fields require a singe quotation mark (') before and after each value)

- Task 2B: Insert two rows at once in the INSTRUCTOR table for instructors Raul Chong and Hima Vasudevan.
(Hint: list the values for the second row after the first row)

- Task 3: Select all rows from the INSTRUCTOR table.

- Task 3B: Select the firstname, lastname and country where the city is Toronto

- Task 4: Update the row for Rav Ahuja and change his city to Markham.

- Task 5: Delete the row for Raul Chong from the table.

- Task 5B: Retrieve all rows in the INSTRUCTOR table

In [ ]:
import sqlite3

In [ ]:
# conectando...
conn = sqlite3.connect('coursera.db')

In [ ]:
# definindo um cursor
cursor = conn.cursor()

## Task 0

In [ ]:
cursor.execute("""
drop table INSTRUCTOR
;
""")

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 0))

OperationalError: ignored

In [ ]:
cursor.execute("""
drop table IF EXISTS INSTRUCTOR
;
""")

Seguindo as recomendações do exercicio, iremos ignorar o erro seguir para a proxima etapa.

## Task 1:

In [ ]:
# criando a tabela
cursor.execute("""
CREATE TABLE  INSTRUCTOR
  (ins_id INTEGER PRIMARY KEY NOT NULL, 
   lastname VARCHAR(15) NOT NULL, 
   firstname VARCHAR(15) NOT NULL, 
   city VARCHAR(15), 
   country CHAR(2)
  )
;
""")

print('Tabela criada com sucesso.')

Tabela criada com sucesso.

## Task 2A:

In [ ]:
cursor.execute("""
INSERT INTO INSTRUCTOR
  (ins_id, lastname, firstname, city, country)
  VALUES 
  (1, 'Ahuja', 'Rav', 'Toronto', 'CA')
;
""")


print('Dados inseridos com sucesso')

Dados inseridos com sucesso

## Task 2B:

In [ ]:
cursor.execute("""
INSERT INTO INSTRUCTOR
  VALUES
  (2, 'Chong', 'Raul', 'Toronto', 'CA'),
  (3, 'Vasudevan', 'Hima', 'Chicago', 'US')
;
""")


print('Dados inseridos com sucesso')

Dados inseridos com sucesso

## Task 3:

In [ ]:
cursor.execute("""
SELECT * FROM INSTRUCTOR
;
""")

cursor.fetchall()

[(1, 'Ahuja', 'Rav', 'Toronto', 'CA'),
 (2, 'Chong', 'Raul', 'Toronto', 'CA'),
 (3, 'Vasudevan', 'Hima', 'Chicago', 'US')]

## Task 3B:

In [ ]:
cursor.execute("""
SELECT firstname, lastname, country from INSTRUCTOR where city='Toronto'
;
""")


cursor.fetchall()

[]

## Task 4:

In [ ]:
cursor.execute("""
UPDATE INSTRUCTOR SET city='Markham' where ins_id=1
;
""")

# commitando alterações
conn.commit()

print('Dados atualizados com sucesso.')

Dados atualizados com sucesso.

## Task 5:

In [ ]:
cursor.execute("""
DELETE FROM INSTRUCTOR where ins_id=2
;
""")

# commitando alterações
conn.commit()

print('Registro excluido com sucesso.')

Registro excluido com sucesso.

## Task 5B:

In [ ]:
cursor.execute("""
SELECT * FROM INSTRUCTOR
;
""")

cursor.fetchall()

[(1, 'Ahuja', 'Rav', 'Markham', 'CA'),
 (3, 'Vasudevan', 'Hima', 'Chicago', 'US')]

In [ ]:
conn.close()